.label_figura {
  font-size: 14px;
  text-align: center;
  margin: 0;
}

body {
    font-size: 20px;
    line-height: 32px;
}

.vp-doc p {
    line-height: 32px;
}

.vp-doc [class*=language-] code {
    font-size: 12px;
}

.vp-doc h1 {
  font-size: 42px;
}

.vp-doc h2 {
    margin: 6px 0 16px;
    border-top: 0px solid var(--vp-c-divider);
}

/* Custom Stlye */
.custom-layout {
    background-color: var(--vp-c-bg-soft);
    color: var(--vp-c-text-1);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    min-height: 400px;
    max-width: 1152px;
    margin: 6rem auto 0;
    border-radius: 10px;
  }

  .custom-layout h1 {
    font-size: 2.2rem;
    font-weight: 600;
  }

  .custom-layout .btn {
    background-color: var(--vp-button-brand-bg);
    color: var(--vp-button-brand-text);
    border-radius: 20px;
    padding: 0.5rem 1.4rem;
  }

  .cabecalho {
    background-color: var(--vp-c-bg-soft);
    color: var(--vp-c-text-1);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    min-height: 400px;
    max-width: 1152px;
    margin: 6rem auto 0;
    border-radius: 10px;
  }

  .cabecalho h1 {
    font-size: 40px;
  }

  .custom-layout .btn {
    background-color: var(--vp-button-brand-bg);
    color: var(--vp-button-brand-text);
    border-radius: 20px;
    padding: 0.5rem 1.4rem;
  }
  
    